<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0730146 -0.0245314 0.00484957" rpy="0.0198128 0.00346016 1.55364" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0730146 -0.0245314 0.00484957   0.00827736 -0.00571067 0.700991 0.7131 panda_hand camera_color_optical_frame" />
</launch>
